p{
    background-color: aqua;
}
div{
    background-color: rgb(159, 130, 130);
}
span{
    background-color: blueviolet
    ;
}
a{
    background-color: cadetblue;
}

h3{
    background-color: darkgreen;
}
header{
    background-color: aliceblue;
}