body{
    background-color: beige;
    margin: 20px;
    padding: 20px;
}

.heading
{
    color: rgba(201, 6, 6, 0.769);
    text-decoration: underline;
}

.nameofproduct{
    color:rgb(91, 94, 126);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
a:hover{
    background-color: rgba(40, 90, 6, 0.523);
}

.details{
    color: rgb(110, 17, 76);
}

